.container{
    background-color: antiquewhite;
    width: 50vw;
    height: 40vh;

}
.box{
    background-color: aqua;
    width: 5vw;
    height: 4vh;
    /* transition-property: transform; */

    /* transition-property: all;
    transition-duration:3s;
    transition-timing-function: ease-in-out;
    transition-delay:  1s; */
    /* ABOVE ALL WE COMBINE IN ONE  */

    transition: all 3s ease-in-out 1s;
}
.translate{
    transform: translateX(10vw) translateY(10vh);
    background-color: blueviolet;
    scale: 2;
}