*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
}
nav{
    background-color: pink;
    height: 83px;

}

main{
    background-color: black;
    color: white;
    padding: 34px ;
}
.container{
    background-color:green;
    margin: 12px 34px;
    padding: 55px 23px;
    /* height: 233px; */
    text-align: center;
}
.box1{
    background-color: palevioletred;
    height: 70vh;
    width: 45%;
    display: inline-block;
    margin: 0 12px;
}

.box2{
    background-color: blue;
    height: 70vh;
    width: 45%;
    display: inline-block;
    margin: 0 12px;
}

.text-box{
    padding: 34px;
    border: 2px solid white ;
    margin: 50px 34px;
    font-size: 2em;
    border-radius: 13px;
}

.orange-box{
    height: 42px;
    width: 42px;
    background: orange;
    position: fixed;
    bottom: 12px;
    right: 23px;
    border-radius: 60px;
}

footer{
    height: 100px;
    background-color: bisque;
}