.cards{
    border: 2px solid black;
    display: flow-root;     /* to fit the image in we use flow root */
}
.card{
    border: 2px solid blue;
}
img{
    float: left;
}
.card:nth-child(3){
    background-color: aqua;
    clear: both;
}