/* .box:first-child{
    background-color: firebrick;
}
/* .box::first-line{
    color: rgb(255, 0, 0);
}  */
/* .boxes *{
    color: chartreuse;
    border: 2px solid black;
}   */
 /* p,a,.box, = groping[data-color="primary"]{
    margin-top: 43px;
} */
/* .box:nth-child(even){
    background-color: bisque;
} */ */
.boxes::before{
    content: "sumit is a best worrior";
}
.boxes::after{
    content:"This is a sigma course";
    color: blueviolet;
    /* sudo elements says */
}
::selection{
    color: aqua;
}
.box::first-letter{
    color: peru;
    font-size: 24px;
}
input::placeholder{
    color: rgb(43, 226, 137);
}